{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Innebandy Statistik</title>
    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="{% url 'games:list' %}">Innebandy Statistik</a>
        </div>
        <div class="nav-links">
          <a href="{% url 'games:list' %}"
             class="nav-link
                    {% if '/games' in request.path %}active{% endif %}">Matcher</a>
          <a href="{% url 'players:list' %}"
             class="nav-link
                    {% if '/players' in request.path %}active{% endif %}">Spelare</a>
          <a href="{% url 'stats:stats' %}"
             class="nav-link
                    {% if '/stats' in request.path and not '/advanced_stats' in request.path %}
                      active
                    {% endif %}">Statistik</a>
          <a href="{% url 'stats:advanced_stats' %}"
             class="nav-link
                    {% if '/advanced_stats' in request.path %}
                      active
                    {% endif %}">Avancerad statistik</a>
        </div>
      </div>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
