{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Innebandy Stats</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="{% url 'games:list' %}">Innebandy Statistik</a>
        </div>
        <div class="nav-links">
          <a
            href="{% url 'games:list' %}"
            class="nav-link {% if '/games' in request.path %}active{% endif %}"
          >
            Matcher
          </a>
          <a
            href="{% url 'players:list' %}"
            class="nav-link {% if '/players' in request.path %}active{% endif %}"
          >
            Spelare
          </a>
          <a
            href="{% url 'stats:leaderboard' %}"
            class="nav-link {% if '/stats' in request.path %}active{% endif %}"
          >
            Statistik
          </a>
        </div>
      </div>
    </nav>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
