{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="charts-grid">
    <div class="chart-card">
      <canvas id="goalsChart"></canvas>
    </div>
    <div class="chart-card">
      <canvas id="shotsChart"></canvas>
    </div>
    <div class="chart-card">
      <canvas id="saveChart"></canvas>
    </div>
    <div class="chart-card">
      <canvas id="ppChart"></canvas>
    </div>
  </div>
  <div id="chartModal" class="modal">
    <canvas id="modalChart"></canvas>
  </div>
  {% comment %}
    This is the backend stats for the charts...
  {% endcomment %}
  {{ game_labels|json_script:"game-labels" }}
  {{ game_details|json_script:"game-details" }}
  {{ our_rolling_goals|json_script:"our-rolling-goals" }}
  {{ our_rolling_goals_p1|json_script:"our-rolling-goals-p1" }}
  {{ our_rolling_goals_p2|json_script:"our-rolling-goals-p2" }}
  {{ our_rolling_goals_p3|json_script:"our-rolling-goals-p3" }}
  {{ our_rolling_shots|json_script:"our-rolling-shots" }}
  <script src="{% static 'js/advanced_stats.js' %}"></script>
{% endblock %}
